.col-1, .col, .col-2, .col-6, .col-8 {
    background-color: #ffc0cb;
    border: 1px solid black;
    height: 150px;
    position: relative;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container2 {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}

.container2 .col-6.row {
    border: 2px solid black;
    height: 100%;
    background-color: #ffc0cb;
}

.container2 .col-2, .container2 .col-8, .container2 .col-6 {
    border: 2px solid white;
    background-color: #f07f80;
}